<div class="container">

  <!-- welcome -->
  <div class="team_welcome hidden">
    <div class="welcome_message">
      <h3 class="center" id="welcome-team-header">Welcome to the Turing Scavenger Hunt!</h3>
      <p class="mobile-font">Before you get to a-huntin' your team needs to choose a cool name, you'll enter that below. 
      Once you get that figured out the hunt will begin!</p>
      <p class="mobile-font">The scavenger hunt goes like this:</p>
      <ol class="mobile-font">
        <li>Get a clue.</li>
        <li>Go to the place the clue is referring to.</li>
        <li>Take a picture and submit it.</li>
        <li>Wait for the scavenger hunt master to approve or disapprove.</li>
      </ol>
        <p class="mobile-font">If your submission is approved you will be given the next clue, and if it is rejected, do better!</p>
    </div>
    <!-- <h5 id="name-form-header">Create a Team Name:</h5> -->
    
    <div class="row" id="name-form">
      <form class="col s12 m12 612">
        <div class="row">
          <div class="input-field col s12">
            <input id="name_of_team" type="text" class="validate" placeholder=<%= @team.name %>>
            <label for="text" id="name-form-label">Team Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s5">
            <button class="btn waves-effect waves-light btn-large" id="play_on_button" type="submit">Go!</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- clue -->
  <div class="clue hidden">
    <h3 class="team_name_clue_page center"></h3>
    <h3 id="clue-header">Clue:</h3>
    <p class="clue_info mobile-font-clue"></p>
    <button id="take_picture">Take Picture</button>
    <%= form_tag("/submissions", multipart: true) do %>
      <%= file_field_tag :attachment, {capture: "camera", accept: "image/*", id: "camera"}%>
      <%= hidden_field_tag :team_id, @team.id %>
      <%= hidden_field_tag :location_id, @team.location_id %>
      <%= submit_tag "Send Picture", id: "send_picture" %>
    <% end %>

  <!-- picture -->
  <img id="current_image">
  </div>

  <div class="waiting center hidden">
    <!-- <div class="preloader-wrapper big active"> -->
    <%= image_tag("Turing_spinner.gif", id: "turing_spinner") %>
      <!-- <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div> -->
    <!-- </div> -->
    <p class="mobile-font-clue">waiting...</p>
  </div>

  <!-- submission response -->
  <div class="submission_response hidden">
    <div class='success_response hidden'>
      <p id='success_response_message' class="mobile-font-clue">Correct! Go on to the next location.</p>
      <button class="btn waves-effect waves-light center-align" id="success_response_button" type="submit">Next Clue</button>
    </div>
    <div class='failure_response hidden'>
      <p id='failure_response_message' class="mobile-font-clue">Not quite right, try again!</p>
      <button class="btn waves-effect waves-light" id="failure_response_button" type="submit">Try Again</button>
    </div>
  </div>


<!-- nacho screen -->

  <div class="winning-condition hidden">
    <h1 class="center" id="nacho-header"> HEY! </h1>
    <p class="mobile-font-clue"> The Hunt is over. You all did a great job. Now <strong>get back to Turing</strong> and let's <strong class="nacho-p">eat nachos!</strong></p>
    <%= image_tag("adventuretime-nachos.gif", id: "nacho-gif") %>
  </div>
  
</div>
